<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin %> et bienvenue chez nous !</h1>
    <p>
      l'utilisateur <%= @user %> s'est inscrit à ton évènement.
    </p>
    <p>
      Pour accéder à cet évènement, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>