<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @event.admin.first_name %> !</h1>
    <p>
      Vous avez une nouvelle inscription sur votre event <%= @event.title %> !
    </p>
    <p> À très vite !</p>
  </body>
</html>